body {
	background: black;
	}
table {
	margin: 0 auto;
	}
.header {
	width: 100%;
	background: white;
	}


.container {
	width: 800px;
	height: 900px;
	margin: 0 auto;
	background-color: green;
	}

.ruta1 {
	width: 200px;
	height: 400px;
	margin: 0 auto;
	background-color: pink;
	}

.ruta2 {
	width: 200px;
	height: 400px;
	margin: 0 auto;
	background-color: maroon;
	}

#ruta1 {
	width: 200px;
	height: 400px;
	margin: 0 auto;
	background-color: maroon;
	}

.footer	{
	width: 100px;
	color: yellow;
	background-color: white;
	}

@media (max-width:600px){
	h2 {
		width:10%;
	}
	.container {
		width: 95%;
	}
	.ruta1 {
	}
}

